<h1>Buttons</h1>

<div class="first-btn">
    <div class="button">
        <div class="default">&lt;Button / &gt;</div>
        <app-button>Default</app-button>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button variant="outline" &nbsp;/ &gt;</div>
        <app-button [ngClass]="'outline'"></app-button>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button variant="text" &nbsp;/ &gt;</div>
        <div [ngClass]="'text'">Default</div>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button disabledShadow/ &gt;</div>
        <app-button [ngClass]="'disabledShadow'"></app-button>
    </div>
    <div class="button">

    </div>
    <div class="button">
        <div class="default">&lt;Button disabled&nbsp;/ &gt;</div>
        <app-button [ngClass]="'disabled'"></app-button>
    </div>
    <div class="button">
        <div class="default">&lt;Button variant="text" disabled&nbsp;/ &gt;</div>
        <app-button [ngClass]="['text', 'disabled']"></app-button>
    </div>

</div>
<div class="second-btn">
    <div class="button">
        <div class="default">&lt;Button startIcon="local_grocery_store"&nbsp;/ &gt;</div>
        <div class="inner-button"><span class="material-icons">
                add_shopping_cart
            </span>Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button endIcon="local_grocery_store"&nbsp;/ &gt;</div>
        <div class="inner-button">Default <span class="material-icons">
                add_shopping_cart
            </span>

        </div>
    </div>
</div>

<div class="third-btn">
    <div class="button">
        <div class="default">&lt;Button size="sm"&nbsp;/ &gt;</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button size="md"&nbsp;/ &gt;</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button size="lg"&nbsp;/ &gt;</div>
        <div class="inner-button">Default</div>
    </div>
</div>

<div class="fourth-btn">
    <div class="button">
        <div class="default">&lt;Button &nbsp;/ &gt;</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button color="primary"&nbsp;/ &gt;</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button color="secondary"&nbsp;/ &gt;</div>
        <div class="inner-button">Secondary</div>
    </div>
    <div class="button">
        <div class="default">&lt;Button color="danger"&nbsp;/ &gt;</div>
        <div class="inner-button">Danger</div>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Default</div>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Secondary</div>
    </div>
    <div class="button">
        <div class="default">&:hover, &:focus</div>
        <div class="inner-button">Danger</div>
    </div>


</div>

<div class="src">Icons: https://material.io/resources/icons/?style=round</div>

<footer>Created by Joseph Evangelista</footer>