.side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.side ul {
  list-style: none;
  height: 80%;
  margin: 0;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #9e9e9e;
}

.side h1 {
  margin-bottom: 6rem;
}

.side ul li {
  font-size: 1.3rem;
}

.side {
  height: 100vh;
  width: auto;
  background-color: #fafbfd;
  display: flex;
  justify-content: space-between;
}

.side ul li:nth-child(5) {
  color: #333;
}

.side ul li:nth-child(5):hover {
  cursor: pointer;
}
